{% extends "layout.html" %}
{% block main %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/index.css') }}">
<link rel="stylesheet" href="../static/css/podcast.css" />

<body class="mt-40" style="background-color: black;">
    {% include "navbar.html" %}
    <div class="flex flex-col justify-center items-center text-white">

        <p class="text-5xl mb-10" style="overflow-y: hidden;">Our Team</p>
        <div class="flex flex-wrap justify-center items-center">

            <div class="flex flex-col max-w-sm rounded overflow-hidden shadow-lg mb-10 justify-start items-center mx-10" style="background-color: #f0f0ff; height:24em;">
                <img class="w-full justify-center items-center text-center mt-4 rounded px-6 py-4" style="max-width: 15rem;" src="../static/img/people/timothy.png" alt="Sunset in the mountains">
                <div class="px-6 py-4" style="max-width: 15em;">
                    <div class="font-bold text-xl mb-2 text-center text-black">Timothy Hu</div>
                    <p class="text-gray-700 text-center">
                        Founder/Coordinator and Hackathon Manager
                    </p>
                </div>
            </div>

            <div class="flex flex-col max-w-sm rounded overflow-hidden shadow-lg mb-10 justify-start items-center mx-10" style="background-color: #f0f0ff; height:24em;">
                <img class="w-full justify-center items-center text-center mt-4 rounded px-6 py-4" style="max-width: 15rem;" src="../static/img/people/wasi.png" alt="Sunset in the mountains">
                <div class="px-6 py-4" style="max-width: 15em;">
                    <div class="font-bold text-xl mb-2 text-center text-black">Wasi Ahmed</div>
                    <p class="text-gray-700 text-center">
                        Sponsor Coordinator and Director
                    </p>
                </div>
            </div>


            <div class="flex flex-col max-w-sm rounded overflow-hidden shadow-lg mb-10 justify-start items-center mx-10" style="background-color: #f0f0ff; height:24em;">
                <img class="w-full justify-center items-center text-center mt-4 rounded px-6 py-4" style="max-width: 15rem;" src="../static/img/people/sid.png" alt="Sunset in the mountains">
                <div class="px-6 py-4" style="max-width: 15em;">
                    <div class="font-bold text-xl mb-2 text-center text-black">Siddhartha Rachabathuni</div>
                    <p class="text-gray-700 text-center">
                         Fiscal and Contestant Manager
                    </p>
                </div>
            </div>

            <div class="flex flex-col max-w-sm rounded overflow-hidden shadow-lg mb-10 justify-start items-center mx-10" style="background-color: #f0f0ff; height:24em;">
                <img class="w-full justify-center items-center text-center mt-4 rounded px-6 py-4" style="max-width: 15rem;" src="../static/img/people/sumanth.png" alt="Sunset in the mountains">
                <div class="px-6 py-4" style="max-width: 15em;">
                    <div class="font-bold text-xl mb-2 text-center text-black">Sumanth Sureshkumar</div>
                    <p class="text-gray-700 text-center">
                        Logisitic Coordinator 
                    </p>
                </div>
            </div>

            <div class="flex flex-col max-w-sm rounded overflow-hidden shadow-lg mb-10 justify-start items-center mx-10" style="background-color: #f0f0ff; height:24em;">
                <img class="w-full justify-center items-center text-center mt-4 rounded px-6 py-4" style="max-width: 15rem;" src="../static/img/people/rishaan.png" alt="Sunset in the mountains">
                <div class="px-6 py-4" style="max-width: 15em;">
                    <div class="font-bold text-xl mb-2 text-center text-black">Rishaan Desai</div>
                    <p class="text-gray-700 text-center">
                        Contestant and Prize Manager
                    </p>
                </div>
            </div>

            <div class="flex flex-col max-w-sm rounded overflow-hidden shadow-lg mb-10 justify-start items-center mx-10" style="background-color: #f0f0ff; height:24em;">
                <img class="w-full justify-center items-center text-center mt-4 rounded px-6 py-4" style="max-width: 15rem;" src="../static/img/people/nicholas.png" alt="Sunset in the mountains">
                <div class="px-6 py-4" style="max-width: 15em;">
                    <div class="font-bold text-xl mb-2 text-center text-black">Nicholas Wang</div>
                    <p class="text-gray-700 text-center">
                        Sponsor Outreach
                    </p>
                </div>
            </div>

            <div class="flex flex-col max-w-sm rounded overflow-hidden shadow-lg mb-10 justify-start items-center mx-10" style="background-color: #f0f0ff; height:24em;">
                <img class="w-full justify-center items-center text-center mt-4 rounded px-6 py-4" style="max-width: 15rem;" src="../static/img/people/kousthubh.png" alt="Sunset in the mountains">
                <div class="px-6 py-4" style="max-width: 15em;">
                    <div class="font-bold text-xl mb-2 text-center text-black">Kousthubh Veturi</div>
                    <p class="text-gray-700 text-center">
                        Operations Manager
                    </p>
                </div>
            </div>

        </div>

    </div>
    <script type="text/javascript">

        const menuBtn = document.querySelector(".menu-btn");
        const navigation = document.querySelector(".navigation");

        menuBtn.addEventListener("click", () => {
            menuBtn.classList.toggle("active")
            navigation.classList.toggle("active")
        });
    </script>
    <script src="../static/js/podcast.js"></script>
</body>

{% endblock %}