{% extends "layout.html" %}
{% block main %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/index.css') }}">
<link rel="stylesheet" href="../static/css/podcast.css" />

<body class="mt-40" style="background-color: black;">
    {% include "navbar.html" %}

    <div class="flex flex-col justify-center items-center text-white">
        <p class="text-5xl mb-4">LaunchHacks I</p>
        <p class="text-2xl mb-24 text-center">The <span class="text-blue-200">first iteration</span> of the LaunchHacks Hackathon</p>

        <p class="text-5xl mb-4 underline">Winners</p>
        <div class="flex flex-wrap justify-center items-center mb-10" style="max-width: 88em;">

            <div class="flex flex-col justify-start items-start text-black m-10" style="background-color: white;">
                <img src="../static/img/winner/petto.png" style="width: 20em; height: auto;" class="mb-4"alt="">
                <p class=" ml-4 mb-4 font-bold">Petto</p>
                <p style="max-width: 18em;" class="ml-4">Travel without having to worry about your pets!</p>
            </div>

            <div class="flex flex-col justify-start items-start text-black m-10" style="background-color: white;">
                <img src="../static/img/winner/healry.png" style="width: 20em; height:auto;" class="mb-4"alt="">
                <p class=" ml-4 mb-4 font-bold">Healry</p>
                <p style="max-width: 18em;" class="ml-4">Your one-stop mental health solution for everyone!</p>
            </div>

            <div class="flex flex-col justify-start items-start text-black m-10" style="background-color: white;">
                <img src="../static/img/winner/gambling.png" style="width: 20em; height:auto;" class="mb-4"alt="">
                <p class=" ml-4 mb-4 font-bold">Gambling Go Away</p>
                <p style="max-width: 18em;" class="ml-4">Your solution to getting rid of a gambling addiction.</p>
            </div>

            <div class="flex flex-col justify-start items-start text-black m-10" style="background-color: white;">
                <img src="../static/img/winner/aeye.png" style="width: 20em; height:auto;" class="mb-4"alt="">
                <p class=" ml-4 mb-4 font-bold">A'eye'</p>
                <p style="max-width: 18em;" class="ml-4">It can check eye directions and how much we blink.</p>
            </div>

            <div class="flex flex-col justify-start items-start text-black m-10" style="background-color: white;">
                <img src="../static/img/winner/lexis.png" style="width: 20em; height:auto;" class="mb-4"alt="">
                <p class=" ml-4 mb-4 font-bold">Lexis - Code Track</p>
                <p style="max-width: 18em;" class="ml-4">It teaches kids new words and how to spell them too!</p>
            </div>
        </div>

        <p class="text-5xl mb-4">Our Statistics</p>

        <div class="flex flex-col justify-center items-center w-full mb-10 pb-10">
            <div class="wrapper my-10">
                <div class="flex flex-col justify-center items-center container">
                    <span class="num" data-val="100">200+</span>
                    <span class="text">Participants</span>
                </div>
                <div class="container">
                    <span class="num" data-val="681">20K+</span>
                    <span class="text">Worth of Prizes Obtained</span>
                </div>
                <div class="container">
                    <div class="flex flex-row justify-center items-center">
                        <span class="num" data-val="109">25+</span>
                    </div>
                    <span class="text">Total Submissions (Team + Individual)</span>
                </div>
            </div>

            <div class="wrapper my-10">
                <div class="flex flex-col justify-center items-center container">
                    <span class="num" data-val="100">10+</span>
                    <span class="text">Total Sponsors</span>
                </div>
                <div class="container">
                    <span class="num" data-val="681">∞</span>
                    <span class="text mx-4">Potential Ideas and Opportunities Presented</span>
                </div>
            </div>
        </div>

    </div>
    <script type="text/javascript">

        const menuBtn = document.querySelector(".menu-btn");
        const navigation = document.querySelector(".navigation");

        menuBtn.addEventListener("click", () => {
            menuBtn.classList.toggle("active")
            navigation.classList.toggle("active")
        });
    </script>
    <script src="../static/js/podcast.js"></script>
</body>

{% endblock %}